---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2018&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_eoyNybcNr0HN97ezz29Y974o
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1BOdAPGavoTPAr6i8fnQ9GQU",
          "object": "token",
          "card": {
            "id": "card_1BOdAPGavoTPAr6i3fwtvnlk",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2018,
            "fingerprint": "iCnP8rVxFg6j6rk5",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "73.14.163.152",
          "created": 1510799509,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 16 Nov 2017 02:31:49 GMT
recorded_with: VCR 3.0.3
